{
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "endOfLine": "auto",
  "bracketSameLine": true,
  "semi": true,
  "printWidth": 80,
  "useTabs": false,
  "htmlWhitespaceSensitivity": "ignore",
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": true,
  "jsxBracketSameLine": false
}
